.header {
    display: flex;
    position: sticky;
    height: 60px;
    top: 0;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #242526;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

/* Left */
.header__left {
    display: flex;
    padding: 10px 0px;
    justify-content: space-evenly;
}
.header__left > .header__logo > svg {
    height: 40px;
    width: 40px; 
    color: #2d88ff;
}
.header__input {
    display: flex;
    align-content: center;
    background-color: #3a3b3c;
    margin-left: 5px;
    border-radius: 50px;
}
.header__input > svg {
    width:23px;
    height:23px;
    color: #9a9da0;
    padding: 10px;
    padding-right: 5px;
}
.header__input > input {
    background-color: transparent;
    color: white;
    padding: 20px 0px;
    width: 200px;
}


/* Center */
.header__center {
    display: flex;
    flex: 1;
    /* padding: 5px 0px; */
    justify-content: center;
}
.header__menu {
    display: flex;
    align-items: center;
    padding: 0px 35px;
    margin-left: 5px;
    cursor: pointer;
}
.header__menu > .MuiSvgIcon-root {
    color: #9a9da0;
    width: 30px;
}
.header__menu:not(.menu--active):hover {
    background-color: #3a3b3c;
    border-radius: 10px;
    margin: 5px 0 5px 5px;
}
.header__menu:not(.menu--active):hover > .MuiSvgIcon-root {
    color: #2d88ff;
}
.menu--active {
    color: #2d88ff;
    border-bottom: 3px solid #2d88ff;
    margin: 0;
}


/* Right */
.header__right {
    display: flex;
    padding: 10px 0px;
}
.header__info {
    display: flex;
    align-items: center;
    color: #e4e6eb;
    padding: 0px 15px 0 5px;
    margin-right: 5px;
}
.header__info > .MuiAvatar-root {
    height: 33px;
    width: 33px;
}
.header__info > h4 {
    margin-left: 10px;
}
.header__right > .MuiIconButton-root {
    background-color: #3a3b3c;
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
    color: white;
}

.header__info:hover {
    background-color: #3a3b3c;
    border-radius: 50px;
}